

html, body {
	height: 100%;
}

.page-section {
		height: 100%;
		width: 100%;
		background-color: #151515;
		color: white;
		overflow: hidden;
}

.page-section1 {
		height: 100%;
		width: 100%;
		background-color: #151515;
		color: white;
}
